.hero {
    background: url("assets/images/bg/hero.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.hero__container {
    width: 380px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    opacity: 0.8;
}

.section-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.user {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.user__avater {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.user__info {
    color: white;
}



